@media (max-width: 768px) { .fl-module-icon {
	text-align: center;
}
 }.fl-node-obn6vjpcatey .fl-icon i,
.fl-node-obn6vjpcatey .fl-icon i:before {
	color: #9b9b9b;
}



.fl-node-obn6vjpcatey .fl-icon i:hover,
.fl-node-obn6vjpcatey .fl-icon i:hover:before,
.fl-node-obn6vjpcatey .fl-icon a:hover i,
.fl-node-obn6vjpcatey .fl-icon a:hover i:before {
	color: #7f7f7f;
}

.fl-module-icon .fl-icon-text span {
	display: inline;
}

.fl-node-obn6vjpcatey .fl-icon i, .fl-node-obn6vjpcatey .fl-icon i:before {
	font-size: 16px;
}
.fl-node-obn6vjpcatey .fl-icon-wrap .fl-icon-text {
	height: 28px;
}
.fl-node-obn6vjpcatey.fl-module-icon {
	text-align: left;
}
@media(max-width: 1200px) {
	.fl-node-obn6vjpcatey .fl-icon-wrap .fl-icon-text {
		height: 28px;
	}
}
@media(max-width: 992px) {
	.fl-node-obn6vjpcatey .fl-icon-wrap .fl-icon-text {
		height: 28px;
	}
}
@media(max-width: 768px) {
	.fl-node-obn6vjpcatey .fl-icon-wrap .fl-icon-text {
		height: 28px;
	}
}
 .fl-node-obn6vjpcatey > .fl-module-content {
	margin-top:0px;
	margin-bottom:0px;
	margin-left:5px;
}
.fl-node-5yvk8lr1oiue .fl-icon i,
.fl-node-5yvk8lr1oiue .fl-icon i:before {
	color: #9b9b9b;
}




.fl-module-icon .fl-icon-text span {
	display: inline;
}

.fl-node-5yvk8lr1oiue .fl-icon i, .fl-node-5yvk8lr1oiue .fl-icon i:before {
	font-size: 16px;
}
.fl-node-5yvk8lr1oiue .fl-icon-wrap .fl-icon-text {
	height: 28px;
}
.fl-node-5yvk8lr1oiue.fl-module-icon {
	text-align: left;
}
@media(max-width: 1200px) {
	.fl-node-5yvk8lr1oiue .fl-icon-wrap .fl-icon-text {
		height: 28px;
	}
}
@media(max-width: 992px) {
	.fl-node-5yvk8lr1oiue .fl-icon-wrap .fl-icon-text {
		height: 28px;
	}
}
@media(max-width: 768px) {
	.fl-node-5yvk8lr1oiue .fl-icon-wrap .fl-icon-text {
		height: 28px;
	}
}
 .fl-node-5yvk8lr1oiue > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:3px;
}
.fl-node-tsvqfywm86eu .fl-icon i,
.fl-node-tsvqfywm86eu .fl-icon i:before {
	color: #9b9b9b;
}



.fl-node-tsvqfywm86eu .fl-icon i:hover,
.fl-node-tsvqfywm86eu .fl-icon i:hover:before,
.fl-node-tsvqfywm86eu .fl-icon a:hover i,
.fl-node-tsvqfywm86eu .fl-icon a:hover i:before {
	color: #7f7f7f;
}

.fl-module-icon .fl-icon-text span {
	display: inline;
}

.fl-node-tsvqfywm86eu .fl-icon i, .fl-node-tsvqfywm86eu .fl-icon i:before {
	font-size: 16px;
}
.fl-node-tsvqfywm86eu .fl-icon-wrap .fl-icon-text {
	height: 28px;
}
.fl-node-tsvqfywm86eu.fl-module-icon {
	text-align: left;
}
@media(max-width: 1200px) {
	.fl-node-tsvqfywm86eu .fl-icon-wrap .fl-icon-text {
		height: 28px;
	}
}
@media(max-width: 992px) {
	.fl-node-tsvqfywm86eu .fl-icon-wrap .fl-icon-text {
		height: 28px;
	}
}
@media(max-width: 768px) {
	.fl-node-tsvqfywm86eu .fl-icon-wrap .fl-icon-text {
		height: 28px;
	}
}
 .fl-node-tsvqfywm86eu > .fl-module-content {
	margin-top:0px;
	margin-bottom:0px;
	margin-left:5px;
}
.fl-node-qzoli9ceufa5 .fl-icon i,
.fl-node-qzoli9ceufa5 .fl-icon i:before {
	color: #9b9b9b;
}




.fl-module-icon .fl-icon-text span {
	display: inline;
}

.fl-node-qzoli9ceufa5 .fl-icon i, .fl-node-qzoli9ceufa5 .fl-icon i:before {
	font-size: 16px;
}
.fl-node-qzoli9ceufa5 .fl-icon-wrap .fl-icon-text {
	height: 28px;
}
.fl-node-qzoli9ceufa5.fl-module-icon {
	text-align: left;
}
@media(max-width: 1200px) {
	.fl-node-qzoli9ceufa5 .fl-icon-wrap .fl-icon-text {
		height: 28px;
	}
}
@media(max-width: 992px) {
	.fl-node-qzoli9ceufa5 .fl-icon-wrap .fl-icon-text {
		height: 28px;
	}
}
@media(max-width: 768px) {
	.fl-node-qzoli9ceufa5 .fl-icon-wrap .fl-icon-text {
		height: 28px;
	}
}
 .fl-node-qzoli9ceufa5 > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:3px;
}

/* Start Global Nodes CSS */

/* End Global Nodes CSS */


/* Start Layout CSS */

/* End Layout CSS */

